/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 140px;
  border-bottom: 2px solid white;
  margin-bottom: 40px;
}

.logo-btn{
  width: 180px;
  background-color: crimson;
  /* height: 30px; */
  width: fit-content;
  padding: 15px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.logo-btn:hover{
  cursor: pointer;
  background-color: rgb(229, 62, 96);
}

.logo-btn:active{
  transform: scale(0.9);
}

.buttom-navbar{
  display: flex;
  gap: 50px;
  justify-content: center;
}

.category-img{
  width: 50%;
  opacity: 0.7;
}

.category-img:hover{
  opacity: 1;
  cursor: pointer;
  border-bottom-style: solid;
}

.category-para{
  justify-content: center;
}